nav{
    font-family: 'Roboto Slab', serif;
    background-color: #001829 !important;
    opacity: 0.86 !important;

}

.nav-brand-icon-d{
    margin-top: 0.8vh;
    width: 36px;
    height: 40px;
}

.navbar-brand{
    margin-right: 40vw;
    margin-left: 2vw;
    color: #007bff;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.navbar-brand:focus{
    color: #007bff;
}

.navbar-brand:hover{
    color: white;
}

.navbar-toggler{
    color: #007bff;
    padding: 0;
    margin-right: 2vw;
}

.tg-icon{
    font-size: 1.85rem;
}

.nav-item{
    margin-right: 1.5rem;
}

.nav-item:hover{
    border-bottom: solid 0.2rem #007bff;
    transition: linear 0.1s;
}

.nav-link{
    color: white !important;
}

.active{
    border-bottom: solid 0.2rem #2d92ff;
}

footer{
    background-color: #062135;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 5vh;
}

.footer-row{
    padding-top: 6vh;
}

.typ-header{
    color:#0B80DA
}

.typ-header-h1{
    font-family: 'Roboto Slab', serif;
    color:#0B80DA;
    /* letter-spacing: 0.1rem; */
}

.sub-itm{
    color: #78B7EC;
    font-weight: 400;
}

.ti-follow{
    margin-right:0.4rem;
    background-color: #78B7EC;
    color: #062135;
    border-radius: 1.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.26);
}
