<div class="qoutes">
  <!-- jumbotron -->
  <div class="jumbotron">
    <h1 class="display-4 typewriter">Connecting global trade</h1>
    <p class="lead">We have developed an unrivaled shipping expertise to offer you a range of services to connect you to key markets across the globe. </p>
  </div>

  <!-- Maps -->
  <div id="map"></div>





  <div class="row">
    <div class="col-md-6 left-pane">
        <h3>Find Quotes From One Port To Another</h3>
        <br>
        <h5>Port of Origin</h5>
        <div class="row">
            <div class="col-md-6 col-selectors">
                <label for="country_d">Country</label>
                <select id="country_d" class="custom-select" (change)="getCountry_d($event.target.value)">
                        <option attr.value="-1">Select Country</option>
                    <option *ngFor="let country of countryList" attr.value="{{country}}">{{country}}</option>
                </select>
            </div>
            <div class="col-md-6 col-selectors">
                <label for="portName_d">Port Name</label>
                <select id="portName_d" class="custom-select" (change)="getPorts_d($event.target.value)">
                    <option>Select Port</option>
                    <option *ngFor="let port of d_ports" attr.value="{{port.port_number}}">{{port.port_name}}</option>
                </select>
            </div>
        </div>

        <br>
        <h5>Port of Discharge</h5>
        <div class="row">
            <div class="col-md-6 col-selectors ">
                <label for="country_a">Country</label>
                <select id="country_a" class="form-control custom-select" (change)="getCountry_a($event.target.value)">
                        <option attr.value="-1">Select Country</option>
                    <option *ngFor="let country of countryList" attr.value="{{country}}">{{country}}</option>
                </select>
            </div>
            <div class="col-md-6 col-selectors">
                <label for="portName_a">Port Name</label>
                <select id="portName_a" class="form-control custom-select" (change)="getPorts_a($event.target.value)">
                    <option>Select Port</option>
                    <option *ngFor="let port of a_ports" attr.value="{{port.port_number}}">{{port.port_name}}</option>
                </select>
            </div>
        </div>

        <br>
        <h5>Container Details</h5>
        <div class="row">
            <div class="col-md-6 col-selectors">
                <label for="container_type">Container Type</label>
                <select id="container_type" class="form-control custom-select" (change)="getContainerTypes_a($event)">
                    <option>Select Container Type</option>
                    <option *ngFor="let typ of shpType" attr.value="{{typ.value}}">{{typ.type}}</option>
                </select>
            </div>
            <div class="col-md-6 col-selectors">
                <label for="departure_dt">Date of Dispatch</label>
                <input type="date" class="form-control" id="departure_dt">
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-6 col-selectors">
                <div id="grssWT">
                    <label for="grossW">Gross Weight(kgs)</label>
                    <input type="text" class="form-control" id="grossW" (keyup)="onKey($event)">
                </div>
            </div>
            <div class="col-md-6 col-selectors but-pane" style="text-align: right">
                <button class="btn btn-dark btn-q" type="button" (click)="getQuote()">Get Quote</button>
            </div>
        </div>

    </div>
    <div class="col-md-6 right-pane">
        <!-- Quotes start here -->
        <div class="availableCarriers">
            <h3>Available Carrier Offers</h3>
        </div>
        
        
        
        
        <div class="container-full-latch" *ngIf="containerData">

            <!-- <div class="Row" *ngFor="let exchange_data of marketExchanges.Data.Exchanges">  ../../assets/-->
            <!-- container offers 5 -->
            <div class="card container-card-data card-xcv" *ngFor="let carrier_data of containerData.quotes">
                    <div class="card-body card-padding-xcv">
                        <div class="row">
                            <div class="col-md-5 card-img-cont">
                                <img class="cont_id" src="../../assets/{{carrier_data.liner_image_id}}" alt={{carrier_data.liner_image_id}}>
                                <br><br>
                                <img class="cont_comp" src="../../assets/{{carrier_data.liner_image}}" alt={{carrier_data.liner_image}}>
                            </div>
                            <div class="col-md-7">
                                <h5 class="card-title">{{carrier_data.liner_name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{containerData.container_type}} | Liner Terms: {{carrier_data.liner_terms}}</h6>
                                <p class="card-text card-price">{{carrier_data.total_quote_price | currency:'USD'}}</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a id="show_details{{carrier_data.liner_id}}" class="btn btn-light" data-toggle="collapse" href="#more_details{{carrier_data.liner_id}}" role="button" aria-expanded="false" aria-controls="more_details" (click)="changeDetails($event)">View Details</a>
                            </div>
                        </div>
                        <!-- End of Shipping card -->

                        <!-- breakup of charges -->
                        <!-- breakup of charges -->
                        <div class="collapse multi-collapse" id="more_details{{carrier_data.liner_id}}">
                                    
                            <!-- accordion starts here -->
                            <div class="accordion exportPort-accordion" id="exportPort{{carrier_data.liner_id}}">

                                <!-- port of origin -->
                                <div class="card">
                                    <div class="card-header" id="originPortData{{carrier_data.liner_id}}">
                                    <h5 class="mb-0">
                                        <a class="accord" data-toggle="collapse" attr.data-target="#collapseOne{{carrier_data.liner_id}}" aria-expanded="true" attr.aria-controls="collapseOne{{carrier_data.liner_id}}">
                                            <div class="row card-title accord-title">
                                                <div class="col-1 thumb-icons"><img id="shipicon" src="../../assets/container.svg" width="40px" height="40px" alt="shipIcon"></div>
                                                <div class="col-8">
                                                    {{containerData.from_port}} - Origin Port Handling Charges
                                                    <h6 class="card-subtitle mb-2 text-muted detls">Transit Time: 2-4 days</h6>
                                                </div>
                                                <div class="col-3 accord-title-price">{{carrier_data.origin_chrgs | currency: 'USD'}}</div>
                                            </div>
                                        </a>
                                    </h5>
                                </div>

                                <!-- accordion header1 ends -->
                                
                                <div id="collapseOne{{carrier_data.liner_id}}" class="collapse" attr.aria-labelledby="originPortData{{carrier_data.liner_id}}" attr.data-parent="#exportPort{{carrier_data.liner_id}}">
                                    <div class="card-body costBreakup">
                                        <div class="row" *ngFor="let origin_data of carrier_data.origin_port_handling_charges">
                                            <div class="col-8">{{origin_data.type}}</div>
                                            <div class="col-4 sub-price">{{origin_data.charges | currency: 'USD'}}</div>
                                        </div>    
                                    </div>
                                </div>

                                <!-- end of card body1 -->
                            </div>

                            <!-- ocean charge -->
                            <div class="card">
                                <div class="card-header" id="oceanChrgsData{{carrier_data.liner_id}}">
                                    <h5 class="mb-0">
                                        <a class="accord" data-toggle="collapse" attr.data-target="#oceanChrgs{{carrier_data.liner_id}}" aria-expanded="true" attr.aria-controls="oceanChrgs{{carrier_data.liner_id}}">
                                            <div class="row card-title accord-title">
                                                <div class="col-1 thumb-icons"><img id="shipicon" src="../../assets/shiplogo.svg" width="40px" height="40px" alt="shipIcon"></div>
                                                <div class="col-7">
                                                    {{containerData.from_port}} - {{containerData.to_port}} Ocean Charges
                                                    <h6 class="card-subtitle mb-2 text-muted detls">{{containerData.distance}} nautical miles <br> Transit Time: {{containerData.time}}</h6>
                                                </div>
                                                <div class="col-4 accord-title-price">{{carrier_data.ocean_chrgs | currency: 'USD'}}</div>
                                            </div>
                                        </a>
                                    </h5>
                                </div>

                                <!-- accordion header2 ends -->
                                    
                                <div id="oceanChrgs{{carrier_data.liner_id}}" class="collapse" attr.aria-labelledby="oceanChrgsData{{carrier_data.liner_id}}" attr.data-parent="#exportPort{{carrier_data.liner_id}}">
                                    <div class="card-body costBreakup">
                                        <div class="row" *ngFor="let ocn_data of carrier_data.ocean_charges">
                                            <div class="col-8">{{ocn_data.type}}</div>
                                            <div class="col-4 sub-price">{{ocn_data.charges | currency: 'USD'}}</div>
                                        </div>   
                                            
                                    </div>
                                </div>

                            <!-- end of card body2 -->
                            </div>


                            <!-- port of discharge -->
                            <div class="card">
                                    <div class="card-header" id="dischargePortData{{carrier_data.liner_id}}">
                                    <h5 class="mb-0">
                                        <a class="accord" data-toggle="collapse" attr.data-target="#dischargePort{{carrier_data.liner_id}}" aria-expanded="true" attr.aria-controls="dischargePort{{carrier_data.liner_id}}">
                                            <div class="row card-title accord-title">
                                                <div class="col-1 thumb-icons"><img id="shipicon" src="../../assets/container.svg" width="40px" height="40px" alt="shipIcon"></div>
                                                <div class="col-8">
                                                    {{containerData.to_port}} - Delivery Port Handling Charges
                                                    <h6 class="card-subtitle mb-2 text-muted detls">Transit Time: 2-4 days</h6>
                                                </div>
                                                <div class="col-3 accord-title-price">{{carrier_data.delivery_chrgs | currency: 'USD'}}</div>
                                            </div>
                                        </a>
                                    </h5>
                                </div>

                                <!-- accordion header3 ends -->
                                
                                <div id="dischargePort{{carrier_data.liner_id}}" class="collapse" attr.aria-labelledby="dischargePortData{{carrier_data.liner_id}}" attr.data-parent="#exportPort{{carrier_data.liner_id}}">
                                    <div class="card-body costBreakup">
                                        <div class="row" *ngFor="let delivery_data of carrier_data.delivery_port_charges">
                                            <div class="col-8">{{delivery_data.type}}</div>
                                            <div class="col-4 sub-price">{{delivery_data.charges | currency: 'USD'}}</div>
                                        </div> 
                
                                    </div>
                                </div>

                                <!-- end of card body3 -->
                            </div>

                            <!-- accordion body ends -->
                        </div>

                    </div>
                    <!-- end of shipping card body -->
                </div>
            </div>  <!-- end of container offer 5 -->



        </div>
    </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h2>Oh! There are Errors!</h2>
        <span class="close" (click)="exitModal()">&times;</span>
      </div>
      <div class="modal-header">
        <p>{{alert_text}}</p>
      </div>
    </div>
  
</div>



</div>



